.weather-box {
  /*background-color: aqua;*/
  height: 400px;
  padding: 20px;
  width: 200px;
}


.col-centered{
float: none;
margin: 0 auto;
}

.weather-content {
  background-color: green;
  width: auto;
  height: 100%;
  padding: 5px 20px 0px 20px;
}

.weather-row {
  margin: 50px;
}

h1 {
  font-family: "Gloria Hallelujah";
  font-size: 6em;

}

.place-text {
  font-family: "Source Sans Pro";

}

#pano {
  height:500px;
  /*width: 700px;*/
}

.allblue {
  background-color: blue;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

body {
  /*background-color: rgb(253,253,253);*/
  background-image: url('../lib/images/paper_fibers.png');
}

.clear.page-title,
.clear.place-text,
.rain.page-title,
.rain.place-text,
.clouds.page-title,
.clouds.place-text,
.thunderstorm.page-title,
.thunderstorm.place-text,
.drizzle.page-title,
.drizzle.place-text,
.snow.page-title,
.snow.place-text,
.atomsphere.page-title,
.atomsphere.place-text{
  transition: all 700ms linear;
}

.clouds.page-title {
 color: rgb(217,206,178);
}

.clouds.place-text {
  color: rgb(122,106,83);
}


.clear.page-title {
  color: rgb(250,190,40);
}

.clear.place-text {
  color: rgb(255,138,0);
}


.rain.page-title {
  color: rgb(194,203,206);
}

.rain.place-text {
  color: rgb(129,168,184);
}

.thunderstorm.page-title {
  color: rgb(150,46,86);
}

.thunderstorm.place-text {
  color: rgb(108,51,72);
}

.drizzle.page-title {
  color: rgb(196,219,180);
}

.drizzle.place-text {
  color: rgb(114,177,164);
}

.snow.page-title {
  color: rgb(232,202,175);
}

.snow.place-text {
  color: rgb(170,179,171);
}

.atmosphere.page-title {
  color: rgb(168,168,120);
}

.atmosphere.place-text {
  color: rgb(72,48,24);
}
