.weather-box {
  /*background-color: aqua;*/
  height: 400px;
  padding: 20px;
}

.col-centered{
float: none;
margin: 0 auto;
}

.weather-content {
  background-color: green;
  width: auto;
  height: 100%;
  padding: 5px 20px 0px 20px;
}

.weather-row {
  margin: 50px;
}


#pano {
  height:500px;
  /*width: 700px;*/
}

.allblue {
  background-color: blue;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}